/vendor/
/node_modules/
bootstrap/compiled.php
app/storage/
public/storage
public/hot
public_html/storage
public_html/hot
storage/*.key
/storage/pail
/public/build
/public/hot
/public/storage
.env
.env.backup
.env.production
auth.json
/auth.json
*.log
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.cursor/
/.nova
/.zed
/.codex
.phpactor.json
_ide_helper.php
.phpunit.result.cache
/.phpunit.cache
Homestead.yaml
Homestead.json
/.vagrant
.DS_Store
Thumbs.db
/public/fonts-manifest.dev.json